<!DOCTYPE html>
<html>
<head>
    <style>
{% load static %}
body {
  background-image: url({% static 'media/Financial System1610808115.png' %});
   background-attachment: fixed;
  background-size: 100% 100%;
}

.center {
  text-align: center;
}

a.button1{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
text-align:center;
transition: all 0.2s;
}
a.button1:hover{
color:#000000;
background-color:#FFFFFF;
}
@media all and (max-width:30em){
a.button1{
display:block;
margin:0.4em auto;
}
}

    </style>
</head>
</html>
{% load static %}
<body class="hero-image" style="background-image: url({% static 'media/banking_5.jpg' %});">
<h1 class="center">Banking System</h1>
<div class="center">
    <a class="button1" href="http://127.0.0.1:8000/admin/accounts/bankaccounttype/">Bank Account Types</a>
    <a class="button1" href="http://127.0.0.1:8000/admin/accounts/useraddress/">User Addresses</a>
    <a class="button1" href="http://127.0.0.1:8000/admin/accounts/userbankaccount/">User bank account</a>
</div>
<div class="center">
    <a class="button1" href="http://127.0.0.1:8000/admin/auth/user/add/">Create Account</a>
</div>
</body>
